.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0.425), rgba(0, 0, 0, 0.5));
  overflow-y: auto;
  animation: modal-container-appear 250ms cubic-bezier(0.215, 0.61, 0.355, 1);

  .modal {
    margin: 15vh auto;
    width: 50vw;
    min-width: 360px;
    max-width: 960px;
    background: #eee;
    box-sizing: border-box;
    animation: modal-appear 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .modal-content {
    padding: 24px 36px;
  }
}

@media (max-width: 768px) {
  .modal-container {
    .modal {
      width: 100vw;
      max-width: unset;
      min-width: 360px;
    }

    .modal-content {
      padding: 24px;
    }
  }
}

@keyframes modal-container-appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-appear {
  from {
    transform: translateY(24px);
  }

  to {
    transform: none;
  }
}